/* * {
    box-sizing: border-box;
} */

body {
    margin: 0px;
    background-color: #68A7AD;
}

/* Navbar */

nav {
    position: fixed;
    height: 14rem;
    width: 100%;
    background-color: #99C4C8;
    z-index: 1000;
}

nav .lists {
    display: flex;
    height: 14.99rem;
    width: 95%;
    font-family: 'work-sans', sans-serif;
    font-weight: 200;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    font-size: 2.1rem;
    text-transform: uppercase;
}

nav ul li {
    border-bottom: 1px solid black;
}

#items li:hover {
    background-color: #E5CB9F;
}

nav ::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

nav :hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform .3s ease;
}

nav ::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}

/* Video Session */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main video {
    position: relative;
    width: 100%;
    /* margin-bottom: 2m-re; */
}

.typewriter {
    font-family: Courier, monospace;
    display: block;
    position: absolute;
    background-color: rgb(39, 39, 39);
    width: 100%;
    opacity: 0.9;
    top: 80%;
    padding-top: 1.2rem;
    height: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
}

.typewriter-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    /* box-sizing: border-box; */
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 55%
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }
}

/* Main */
#home {
    display: flex;
}

.projects {
    display: none;
    font-family: 'work-sans', sans-serif;
    animation: moveToRight 1s ease-in-out;
}

#text {
  padding-top: 2.5rem;
}

#projs {
    padding-top: 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    column-gap: 2rem;
    /* border-bottom: 1px solid black; */
    /* flex-wrap: wrap; */
    padding-left: 20px;
}

/* M365 Project */

/* Carousel */

.projects .m365kp {
    display: flex;
    /* flex-direction: column; */
    column-gap: 2rem;
}

.m365-backend {
    display: flex;
    flex-direction: row;
    column-gap: 0.2rem;
}

.carousel-wrapper {
    width: 520px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    margin: 100px auto 20px;
    background-color: #99C4C8;
  }
  
  .carousel-container {
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel {
    display: flex;
    width: 1200px;
    animation: sliding 12s infinite;
  }
  .carousel div {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  .carousel:hover {
    animation-play-state: paused;
  }
  .carousel .image-one {
    background-image: url("./assets/images/MicrosoftTeams-image\ \(3\).png");
  }
  .carousel .image-two {
    background-image: url("./assets/images/MicrosoftTeams-image\ \(4\).png");
  }
  .carousel .image-three {
    background-image: url("./assets/images/MicrosoftTeams-image\ \(6\).png");
  }
  
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-400px);
    }
    65% {
      transform: translateX(-400px);
    }
    70% {
      transform: translateX(-800px);
    }
    98% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @media screen and (max-width: 768px) {
    .carousel-wrapper {
      width: 312px;
      height: 210px;
    }
  
    .carousel-container {
      width: 240px;
      height: 150px;
    }
  
    .carousel {
      width: 720px;
    }
    .carousel > div {
      width: 240px;
      height: 150px;
    }
  
    @keyframes sliding {
      30% {
        transform: translateX(0);
      }
      35% {
        transform: translateX(-240px);
      }
      65% {
        transform: translateX(-240px);
      }
      70% {
        transform: translateX(-480px);
      }
      98% {
        transform: translateX(-480px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  #ic, #ic2, #ic3 {
    /* font-family: 'Free Font Awesome 6'; */
    font-size: 2rem;
  }

  img#csharp {
    height: 2rem;
    width: 2rem;
    top: 0;
  }

  #efcore {
    height: 2rem;
    width: 2rem;
  }

  .tech-icons {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }

/* M365 End Project */

/* alt bike beginning project */

.altbike-projects {
    display: none;
    font-family: 'work-sans', sans-serif;
    animation: moveToRight 1s ease-in-out;
}

#altbike-projs {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    column-gap: 2rem;
    /* border-bottom: 1px solid black; */
    /* background-color: #E5CB9F; */
    /* flex-wrap: wrap; */
    padding: 10px;
}

.altbike-techstack {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.altbike-techstack i {
  font-size: 2rem;
}

.altbike-techstack a {
  text-decoration: none;
}

.altbike-techstack a:hover {
  color: white;
}

.altbike-techstack a h3 {
  padding: 0.5rem;
  background-color: black;
  display: inline-block;
  column-gap: 2rem;
  border-radius: 0.5rem;
  color: white;
  width: 7rem;
  text-align: center;
}

.altbike-techstack a h3:hover {
  padding: 0.5rem;
  background-color: white;
  display: inline-block;
  column-gap: 2rem;
  border-radius: 0.5rem;
  color: black;
  width: 7rem;
  text-align: center;
}

.carousel1-wrapper {
    width: 520px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    margin: 20px auto 20px;
    background-color: #99C4C8;
  }
  
  .carousel1-container {
    width: 400px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .carousel1 {
    display: flex;
    width: 1200px;
    animation: sliding 12s infinite;
  }
  .carousel1 div {
    width: 400px;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  .carousel1:hover {
    animation-play-state: paused;
  }
  .carousel1 .image-one1 {
    background-image: url("./assets/images/altbike1.jpg");
  }
  .carousel1 .image-two1 {
    background-image: url("./assets/images/altbike2.jpg");
  }
  .carousel1 .image-three1 {
    background-image: url("./assets/images/altbike3.jpg");
  }
  
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-400px);
    }
    65% {
      transform: translateX(-400px);
    }
    70% {
      transform: translateX(-800px);
    }
    98% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    .carousel1-wrapper {
      width: 312px;
      height: 210px;
    }
  
    .carousel1-container {
      width: 240px;
      height: 150px;
    }
  
    .carousel1 {
      width: 720px;
    }
    .carousel1 > div {
      width: 240px;
      height: 150px;
    }
  
    @keyframes sliding {
      30% {
        transform: translateX(0);
      }
      35% {
        transform: translateX(-240px);
      }
      65% {
        transform: translateX(-240px);
      }
      70% {
        transform: translateX(-480px);
      }
      98% {
        transform: translateX(-480px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  #ic, #ic2, #ic3 {
    /* font-family: 'Free Font Awesome 6'; */
    font-size: 2rem;
  }

  #csharp {
    height: 5rem;
    width: 5rem;
  }

  .tech-icons {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }

/* alt bike end of project */

/* about section */

.about {
    display: none;
    margin-top: 14rem;
    /* border-bottom: 1px solid black; */
    padding: 2rem 2rem;
    font-family: 'work-sans', sans-serif;
    column-gap: 2rem;
    /* text-align: center; */
    font-size: 1rem;
    /* transform: translateX(100%); */
    /* transition: transform 0.3s ease-in-out; */
    animation: moveToRight 1s ease-in-out;
}

@keyframes moveToRight {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
}

.about img {
    border-radius: 50%;
}

.abouttxt {
    width: 700px;
}

.about a {
  text-decoration: none;
  font-size: 1.4rem;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
}

.about a:hover{
  background-color: white;
  color: black;
}

/* end of about section */


/* beginning of contact section */

.contact {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
    font-family: 'work-sans', sans-serif;
    flex-direction: column;
    /* border-bottom: 1px solid black; */
    column-gap: 2rem;
}

.contact .flex-divs {
  display: flex;
  width: 80%;
  column-gap: 2rem;
}

.social-media {
  width: 30rem;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
}

.linkedin, .github {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  height: fit-content;
}

.linkedin i, .github i {
  font-size: 2rem;
}

div.linkedin a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: 80px;
  text-align: center;
}

div.linkedin a:hover {
  color: black;
  background-color: white;
}

div.github a {
  height: fit-content;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  height: 80px;
  width: 100px;
}

div.github a:hover {
  color: black;
  background-color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 25rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.form label {
  padding: 10px;
}

.form input {
  margin: 10px;
}

#email-input {
  width: 15.5rem;
}

.form textarea {
  margin: 10px;
}


/* end of contact section */

/* Footer Main */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

footer .footer-text{
    display: inline-flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'work-sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1rem;
    font-weight: 300;
}

#footer1 {
    text-transform: capitalize;
}